/*
  Name: Edale Miguel
  Date: October 6, 2024
  
  This CSS file styles the myWebsite.html, creating a cohesive design 
  and improving the user experience.
*/


/* Washingtonwanders Title */
header {
  background-color: #2e8b57;
  color: white;
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%;
}

#title h1 {
  text-align: center; /* Center the heading */
  margin: 50px 0; /* Add some margin for spacing */
}

/* Navigation */
nav {
  display: flex; 
  justify-content: center; 
  margin: 10px 0;
  width: 100%; 
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline; 
}

.home {
  display: flex;
  background-color: white; 
  color: black; 
  padding: 30px 20px; 
  text-align: center; 
}

.home h2 {
  margin-top: 0; 
  margin-bottom: 0px; 
}

.home p {
  margin-top: 0; 
  margin-bottom: 0; 
}

.logo {
  max-width: 600px; 
  height: auto;
  margin: 10px auto; 
  display: block; 
}

head {
  scroll-behavior: smooth; 
  padding: 20px;
  border: 1px solid #ccc; 
  margin: 20px 0;
  background-color: #f9f9f9;
}

section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

/* Will make the full view of the page */
.section {
  display: none;  /* Hide all sections */
  height: 100vh; 
  justify-content: center;
  align-items: center; 
  text-align: center;
}

/* Display only the #title and #home */
#title, #home {
  display: block; 
}

/* Shows the page when you click the navigation link */
.section:target {
  display: block;
}

.section div {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 20px; 
}

.section h2 {
  margin-bottom: 5px;
}

.events {
  font-size: 24px; 
  font-family: 'Lucida Sans Unicode'; 
  color: green; 
  margin-bottom: 30px; 
}

.annualEvents {
  font-size: 24px; 
  font-family: 'Lucida Sans Unicode'; 
  color: green; 
  margin-top: 50px; 
  margin-bottom: 30px; 
}

.section p {
  margin-top: 5px;
}

.image {
  max-width: 500px;
  height: auto;
}

#home, #attractions, #thingsToDo, #photos, #travel {
  max-width: 1200px;
  margin: 20px auto;
}

#thingsToDo p {
  margin-bottom: 50px;
}

/* Travel Page layout */
#attractions, #thingsToDo, #photos, #travel {
  text-align: left; /* Align text to the left */
}

#travel h2 {
  margin: 50px 0; 
}


/* Home Link */
.homeLinkTop button {
  color: green; 
  text-decoration: none; 
  font-size: 12pt;
  margin-bottom: 10px;
}


